@import "tailwindcss";

@theme {
  --color-dark: #1a1a1a;
  --color-darker: #121212;
  --color-primary: #3b82f6;
}

body {
  background-color: var(--color-dark);
  color: #f4f4f5; /* zinc-100 */
}

/* Custom scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #18181b;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #3f3f46;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #52525b;
}